---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<br> <br> 
<b>Hurwitz, R.</b> and Hahn, G. “Penalized principal component analysis using smoothing.” Statistics and Computing. (April 2025). <a href="https://doi.org/10.1007/s11222-025-10610-0">https://doi.org/10.1007/s11222-025-10610-0</a>

<br> 
Bovenzi, I.*, Carmel, A.*, Hu, M.*, <b>Hurwitz, R.*</b>, McBride, F.*, Benac, L., Ayala, J., Doshi-Velez, F. “Pruning the Path to Optimal Care: Identifying Systematically Suboptimal Medical Decision-Making with Inverse Reinforcement Learning.” AMIA Annual Symposium Proceedings. (May 2025). <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC12099440/">https://pmc.ncbi.nlm.nih.gov/articles/PMC12099440/</a>
<b>Hurwitz, R.</b> and Lake, E. “Linear Models in Machine Learning and AI for Health Research: A Systematic Review.” Manuscript Submitted, Under Review.
<br> <br> 
Swaminathan, A., Wang, K., Lopez, I., Ramazan, F., <b>Hurwitz, R.</b>, Phadke, S., Ye, G., Pham, I., Cai, F., Verma, D., Shah, N. “Deployment and evaluation of an AI Copilot for mental health crisis counseling.” Manuscript in Preparation.
<br> <br> 
Swaminathan, A., Lopez, I., Phadke, S., Azzam, S., Verma, D., <b>Hurwitz, R.</b>, Pham, I., John, A., Garcia, S., Shah, N. “Evaluating crisis counseling LLMs for low resource settings.” Manuscript in Preparation.
