---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<b>Hurwitz, R.</b>, Hahn, G. “Penalized principal component analysis using smoothing.” Statistics and Computing. (April 2025). <a href="https://doi.org/10.1007/s11222-025-10610-0”>https://doi.org/10.1007/s11222-025-10610-0</a>

<br> <br> 
Bovenzi, I.*, Carmel, A.*, Hu, M.*, <b>Hurwitz, R.*</b>, McBride, F.*, Benac, L., Ayala, J., Doshi-Velez, F. “Pruning the Path to Optimal Care: Identifying Systematically Suboptimal Medical Decision-Making with Inverse Reinforcement Learning.” AMIA Annual Symposium Proceedings. (May 2025). https://pmc.ncbi.nlm.nih.gov/articles/PMC12099440/


