/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 0;
  }
}

/* ==========================================================================
   SITE BANNER
   ========================================================================== */

.site-banner {
  position: relative;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

}

/* ==========================================================================
   BREADCRUMB
   ========================================================================== */

.breadcrumb {
  @include container;
  padding: 0.5em 0;

  &__item {
    display: inline-block;
    font-size: 0rem;
    color: var(--global-text-color);

    &--active {
      font-weight: 0;
    }

    &:not(:last-child)::after {
      content: "/";
      padding: 0 0.5em;
      color: var(--global-border-color);
    }
  }
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--global-text-color);
  background: var(--global-bg-color);

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  @include breakpoint($medium) {
    padding: 0 1rem;
  }

  @include breakpoint($large) {
    padding: 0 1rem;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@keyframes intro {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
